
div.ui-accordion.selected a.head.selected     {
background-image:url( "./AccordionTabOpen.png" )!important;
color:#fafafa!important;
border:none!important
}

.ui-accordion a.head {
background-image:url( "./AccordionTabClosed.png" )!important;
background-color:transparent!important;
border:none!important;
font-size:16px!important;
font-weight:normal!important;
color:#fafafa!important;
text-indent:30px!important;
height:30px!important;
line-height:30px!important
}

.ui-accordion .ui-accordion-panel a {
display:inline!important;
border:none!important
}

.ui-accordion{
border:none!important
}

.ui-tabs-panel{
border-top:1px solid #1c488d!important;
font-family:inherit!important;
padding:5px!important
}

.ui-tabs-nav a {
background-image:url( "./tab_top.png" )!important;
color:#fafafa!important;
font-size:16px!important;
font-weight:normal!important;
line-height:22px!important
}

.ui-tabs-nav .ui-tabs-selected a {
font-family:inherit!important;
color:#fafafa!important
}

.ui-tabs-nav{
font-family:inherit!important
}

.ui-tabs-nav a span     {
background-image:url( "./tab_top.png" )!important;
font-family:inherit!important;
max-height:50px;
height:25px!important
}

.ui-tabs-nav a:hover span {
font-family:inherit!important;
background-position:0 -50px!important
}

.ui-tabs-nav a:hover {
font-family:inherit!important;
background-position:100% -150px!important;
color:#fafafa!important
}

div.TogglePaneFancyHeader {
font-family:inherit!important;
font-size:16px!important;
font-weight:normal!important;
line-height:30px;
height:30px!important;
text-indent:30px;
cursor:pointer;
border:none!important;
background-color:transparent!important;
background-image:url( "./TogglePaneOpen.png" )!important;
background-position:0 0!important;
color:#fafafa!important;
border-width:0!important;
padding:0!important
}

div.TogglePaneFancyHeaderClosed {
background-color:transparent!important;
background-image:url( "./TogglePaneClosed.png" )!important;
background-position:0 0!important;
color:#fafafa!important
}


.nof_AuditioBlueBanners1-Default{
font-family:Open Sans Light ; font-size:29px; font-weight:normal; font-style:normal; color:rgb(51,51,51) 
}

.nof_AuditioBlueNavbar4-Regular{
font-family:PT Sans ; font-size:16px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar5-Rollover{
font-family:PT Sans ; font-size:16px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar6-Highlighted{
font-family:PT Sans ; font-size:16px; font-weight:bold; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar7-HighlightedRollover{
font-family:PT Sans ; font-size:16px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar9-Regular{
font-family:PT Sans ; font-size:14px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar10-Rollover{
font-family:PT Sans ; font-size:14px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar11-Highlighted{
font-family:PT Sans ; font-size:14px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}

.nof_AuditioBlueNavbar12-HighlightedRollover{
font-family:PT Sans ; font-size:14px; font-weight:normal; font-style:normal; color:rgb(255,255,255) 
}


BODY {
	font-family: PT Sans ;
	font-size : 16px;
	color : rgb(51,51,51);
	font-weight : normal;
	background-image : url( "./background.png" )
}

P {
	line-height: 1.75em
}

A {
	color: rgb(46,131,242)
}

A:visited {
	color: rgb(31,90,166)
}

A:hover {
	color: rgb(48,139,255)
}

A:active {
	color: rgb(31,90,166)
}

H1 {
	font-family: Open Sans Light ;
	font-weight : normal
}

H2 {
	font-family: Open Sans Light ;
	font-weight : normal
}

H3 {
	font-family: Open Sans Light ;
	font-weight : normal
}

H4 {
	font-family: Open Sans Light ;
	font-weight : normal
}

H5 {
	font-family: Open Sans Light ;
	font-weight : normal
}

H6 {
	font-family: Open Sans Light ;
	font-weight : normal
}
